.team {
  height: 64px;
  margin: 0;
  background: rgb(9, 32, 62);
  color: white;
  font-size: large;
  pointer-events: none;
}

.logo {
  font-size: large;
  padding-top: 12px;
}

nz-layout {
  min-height: 100%;
}

nz-header {
  background: #fff;
  padding: 0;
  margin-bottom: 16px;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px;
  font-size: large;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
