<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item class="team">
        <span nz-icon nzType="crown" nzTheme="twotone" class="logo"></span>
        <span>Office Guardian</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="desktop"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="profile"></span>
        <span>Tickets</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="home"></span>
        <span>Company</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="message"></span>
        <span>Chat</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Manage Profile</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-header>
    <nz-content>
      <div class="inner-content">Manage profile here</div>
    </nz-content>
    <nz-footer>Designed by Team KitaFast for KitaHack 2024</nz-footer>
  </nz-layout>
</nz-layout>
